/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Config */
:root {
    --primary: #f8f5b3;
    --secundary: #522810;
    --terciary: darkgreen;
    --black: #000000;
    --silver: #c0c0c0;
    --white: #ffffff;
    --white2: #2b2b2b;
    --gray: #f6f6f6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gray);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 50px repeat(4, auto) 100px;
    height: 100vh;
}
.container > * {
    max-width: 100vw;
    width: 100%;
}
/* HEADER */
header.header {
    background-color: var(--primary);
    text-align: center;
    padding: 5px;
    color: white;
    grid-column: 1 / -1;
    grid-row: 1;
    min-height: 100px;
    display: flex;
    align-items: center;
}
header.header h1.loginh1{
    color: var(--secundary);
    margin: 0px auto 0px;
    text-transform: uppercase;
}
header.header div.logo {
    width: 130px;
    height: 130px;
}
header.header div.logo img.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* MENU MOBILE */
.mobile-menu {
    position: relative;
    margin-left: auto;
    display: none;
}
.mobile-menu input[type="checkbox"] {
    display: none;
}
.mobile-menu label {
    cursor: pointer;
    z-index: 10002; 
    position: relative;
    
    margin-right: 10px;

}
.mobile-menu label span{
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--secundary);
    margin: 5px;
    transition: all 0.3s;
}
#menu-mobile:checked + span{
    transform: rotate(45deg);
    margin-top: 10px;
}
#menu-mobile:checked + span + span{
    transform: rotate(-45deg);
    margin-top: -8px;
}
#menu-mobile:checked + span + span + span{
    opacity: 0;
}
div.modal {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10001; 
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
ul.list-menu-mobile{
    width: 60%;
    height: 100%;
    background-color: var(--primary);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-left: auto;
    overflow-y: auto;
}
ul.list-menu-mobile li{
    width: 100%;
    padding: 20px;
}
ul.list-menu-mobile li:hover{
    transform: translateY(-7px);
    /* opacity: 0.5; */
    transition: opacity 0.3s ease, transform 0.8s ease;
}
ul.list-menu-mobile a{
    text-decoration: none;
    color: var(--secundary) !important;
    font-weight: bold;
    text-transform: uppercase;
}
.center{
    height: auto;
    width: 100%;
    margin: auto 0px;
}
/* NAV */
nav.navbar{
    max-height: 50px;
    background: var(--secundary);
    display: flex;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 2;
    height: 100%;
}
nav.navbar ul.list-menu1, nav.navbar ul.list-menu2{
    margin-left: 20px;
    list-style: none;
    display: flex;
    padding-right: 20px;
}
nav.navbar ul.list-menu2{
    margin-left: auto;
}
nav.navbar ul.list-menu2{
}
nav.navbar ul.list-menu1 a.active{
    background-color: var(--white);
    color: var(--secundary);
}
nav.navbar ul.list-menu1 a, nav.navbar ul.list-menu2 a, nav.navbar ul.list-menu2 li label, ul.list-menu-mobile .center a{
    margin-left: 10px;
    padding: 10px 15px;
    transition: background-color 0.3s;
    color: #f8f5b3;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}
nav.navbar ul.list-menu2 li{
    display: flex;
}
nav.navbar ul.list-menu1 a:hover, nav.navbar ul.list-menu2 a:hover, nav.navbar ul.list-menu2 li label:hover {
    background-color: var(--white);
    color: var(--secundary);
}
nav.navbar ul.list-menu2 ul{
    list-style-type: none;
    padding: 0;
    list-style: none
}
nav.navbar ul.list-menu2 ul li{
    position: relative;
    cursor: pointer;
}
.submenu {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 29.3%;
    width: 220px;
    background-color: var(--secundary);
    z-index: 1000; 
}
.submenu a{
    width: 220px;
    text-align: center;
    border-radius: 0px !important;
    margin-left: 0px !important
}
nav.navbar ul.list-menu2 li#subm:hover .submenu {
    display: inline-block;
    visibility: visible;
}
/* Main */
main.main {
    padding: 20px;
    grid-column: 1 / -1;
    grid-row: 3 / 7;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-size: 1rem;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}
.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}
.width-600px{
    max-width: 600px !important;
    width: 100%
}
button#login, button#cadUser{
    padding: 10px 15px;
    background-color: var(--black);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
button#login:hover, button#cadUser:hover {
    background-color: darkgreen;
}
div.link a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secundary);
    font-weight: bold;
    font-size: .8rem
}
div.link{
    padding: 10px;
}
main.main section.section {
    max-width: 400px;
    box-shadow: 0px 0px 10px var(--silver);
    width: 100%;
    margin: 50px auto;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
}
main.main section.section1 {
    max-width: 100vw; 
    box-shadow: 0px 0px 10px var(--silver);
    width: 100%;
    margin: 0px auto;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
}
/* Footer */
.footer {
    background-color: var(--black);
    color: #fff;
    padding: 10px;
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 7;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsividade da página */
@media (max-width: 960px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 110px repeat(4, auto) 100px;
    }
    main.main{
        grid-row: 2 / 6;
    }
    .modal-open {
        overflow: hidden; /* Desabilita a rolagem da página */
    }
    footer.footer{
        grid-row: 6;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav.navbar{
        display: none;
    }
    .mobile-menu{
        display: flex;
    }
    header.header div.logo {
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 110px repeat(4, auto) 100px;
    }
    .header h1{
        font-size: 1rem;
    }
    ul.list-menu-mobile{
        width: 80%;
    }
    main.main section.section {
        padding: 15px;
    }
    main.main{
        grid-row: 2 / 6;
    }
    footer.footer{
        grid-row: 6;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav.navbar{
        display: none;
    }
    header.header div.logo {
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 400px) {
    main.main section.section {
        padding: 10px; /* Reduz o padding em telas menores */
    }
}